.media-list li:nth-child(odd) {
	background-color: #eee;
}
.media-list li {
	padding: 1em;
}

#content {
	position: relative;
}
.user-info {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.foreground {
	z-index: 2;
	visibility: visible;
}

.background{
	z-index: 1;
	visibility: hidden;
}
